body {
    position: relative;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #242323;
    height: 500px;
 }

.oceania{
    background-color: darkcyan;
}

.australia {
    position: absolute;
    top: 30rem; 
    right: 4rem; 
    width: 100px;
    height: 80px;
}

.sumatra{
    position: absolute;
    top: 27rem; 
    right: 12rem;
    width: 50px;
    height: 70px;
}

.borneo{
    position: absolute;
    top: 24rem; 
    right: 7rem;
    width: 50px;
    height: 70px;
}

.java{
    position: absolute;
    top: 25rem; 
    right: 3rem;
    width: 40px;
    height: 60px;
}

.sudamerica{
    background-color: darkolivegreen;
}

.chile{
    position: absolute;
    top: 27rem; 
    left: 27rem;
    width: 30px;
    height: 100px;
}

.peru{
    position: absolute;
    top: 24rem; 
    left: 26rem;
    width: 50px;
    height: 50px;
}

.argentina{
    position: absolute;
    top: 27rem; 
    left: 29rem;
    width: 50px;
    height: 100px;
}

.uruguay{
    position: absolute;
    top: 27rem; 
    left: 32rem;
    width: 35px;
    height: 35px;
}

.brasil{
    position: absolute;
    top: 22rem; 
    left: 29rem;
    width: 90px;
    height: 75px;
}

.colombia{
    position: absolute;
    top: 21rem; 
    left: 25rem;
    width: 60px;
    height: 45px;
}

.asia{
    background-color: yellowgreen;
}

.india{
    position: absolute;
    top: 19rem; 
    right: 14rem;
    width: 50px;
    height: 60px;
}

.malasia{
    position: absolute;
    top: 19rem; 
    right: 10rem;
    width: 50px;
    height: 60px;
}

.china{
    position: absolute;
    top: 13rem; 
    right: 10rem;
    width: 80px;
    height: 90px;
}

.iran{
    position: absolute;
    top: 13rem; 
    right: 16rem;
    width: 30px;
    height: 90px;
}

.boton_atras {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem; 
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.currentturn{
    color:white;
    background-color: darkgoldenrod;
    width: 120px;
    text-align: center;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.footer{
    position: absolute;
    top: 37rem;
}