body {
    position: relative;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #242323;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
 }

.oceania{
    background-color: darkcyan;
}

.australia {
    position: absolute;
    top: 31rem; 
    right: 2rem; 
    width: 100px;
    height: 80px;
}

.sumatra{
    position: absolute;
    top: 27rem; 
    right: 11rem;
    width: 50px;
    height: 70px;
    transform:rotate(-30deg)
}

.borneo{
    position: absolute;
    top: 24rem; 
    right: 6rem;
    width: 40px;
    height: 70px;
    transform:rotate(-15deg)
}

.java{
    position: absolute;
    top: 24rem; 
    right: 2rem;
    width: 40px;
    height: 60px;
}

.sudamerica{
    background-color: seagreen;
}

.chile{
    position: absolute;
    top: 30rem; 
    left: 25rem;
    width: 30px;
    height: 120px;
}

.peru{
    position: absolute;
    top: 27rem; 
    left: 24rem;
    width: 80px;
    height: 50px;
}

.argentina{
    position: absolute;
    top: 30rem; 
    left: 27rem;
    width: 50px;
    height: 120px;
    transform:rotate(10deg)
}

.uruguay{
    position: absolute;
    top: 30.5rem; 
    left: 30.5rem;
    width: 75px;
    height: 40px;
    transform:rotate(-15deg)
}

.brasil{
    position: absolute;
    top: 25rem; 
    left: 29.5rem;
    width: 120px;
    height: 85px;
}

.colombia{
    position: absolute;
    top: 24rem; 
    left: 23rem;
    width: 100px;
    height: 45px;
    background-image: url(../IMAGENES/colombia.png);
    background-size:50px; 
    background-position: center; 
    background-repeat: no-repeat

}

.asia{
    background-color:darkslategray;
}

.india{
    position: absolute;
    top: 20rem; 
    right: 9rem;
    width: 40px;
    height: 100px;
    transform:rotate(15deg)
}

.malasia{
    position: absolute;
    top: 19rem; 
    right: 3rem;
    width: 50px;
    height: 60px;
    transform:rotate(-15deg)
}

.china{
    position: absolute;
    top: 9rem; 
    right: 7rem;
    width: 70px;
    height: 160px;
    transform:rotate(-15deg)
}

.iran{
    position: absolute;
    top: 10rem; 
    right: 17rem;
    width: 30px;
    height: 200px;
    transform:rotate(-35deg)
}

.japon{
    position: absolute;
    top: 8rem; 
    right: 2rem;
    width: 80px;
    height: 40px;
    transform:rotate(40deg)
}

.gobi{
    position: absolute;
    top: 14rem; 
    right: 12rem;
    width: 70px;
    height: 60px;
    transform:rotate(-15deg)
}

.mongolia{
    position: absolute;
    top: 10rem; 
    right: 13rem;
    width: 80px;
    height: 60px;
    transform:rotate(-15deg)
}

.kamchatka{
    position: absolute;
    top: 5rem; 
    right: 9rem;
    width: 60px;
    height: 60px;
    transform:rotate(-20deg)
}

.turquia{
    position: absolute;
    top: 19rem; 
    right: 17rem;
    width: 120px;
    height: 40px;
    transform:rotate(-20deg)
}

.israel{
    position: absolute;
    top: 22rem; 
    right: 17rem;
    width: 90px;
    height: 30px;
    transform:rotate(-20deg)
}

.arabia {
    position: absolute;
    top: 23rem; 
    right: 15rem;
    width: 60px;
    height: 60px;
    transform:rotate(-25deg)
}

.siberia{
    position: absolute;
    top: 8rem; 
    right: 13rem;
    width: 120px;
    height: 30px;
    transform:rotate(-15deg)
}

.taimir{
    position: absolute;
    top: 4rem; 
    right: 15rem;
    width: 50px;
    height: 60px;
    transform:rotate(15deg)
}

.tartaria{
    position: absolute;
    top: 4rem; 
    right: 18.5rem;
    width: 40px;
    height: 70px;
}

.aral{
    position: absolute;
    top: 6rem; 
    right: 21rem;
    width: 40px;
    height: 70px;
    transform:rotate(-15deg)
}

.europa{
    background-color:orchid;
}

.rusia{
    position: absolute;
    top: 6rem; 
    right: 22rem;
    width: 60px;
    height: 220px;
    transform:rotate(-30deg)
}

.suecia{
    position: absolute;
    top: 7rem; 
    right: 30rem;
    width: 80px;
    height: 60px;
    transform:rotate(-15deg)
}

.polonia{
    position: absolute;
    top: 16rem; 
    right: 23.5rem;
    width: 60px;
    height: 70px;
    transform:rotate(-20deg)
}

.africa{
    background-color:sienna;
}

.sahara{
    position: absolute;
    top: 29rem; 
    right: 30rem;
    width: 80px;
    height: 70px;
}

.egipto{
    position: absolute;
    top: 28.5rem; 
    right: 19rem;
    width: 110px;
    height: 40px;
    transform:rotate(20deg)
}

.norteamerica{
    background-color:orangered;
}

.mexico{
    position: absolute;
    top: 21rem; 
    right: 60rem;
    width: 120px;
    height: 35px;
    transform:rotate(30deg)
}

.alaska{
    position: absolute;
    top: 12rem; 
    right: 78.5rem;
    width: 50px;
    height: 90px;
}

.boton_atras {
    position: absolute;
    left: 1.5rem; 
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.guardar{
    position: absolute;
    right: 1.5rem;
    width: 100px;
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.currentturn{
    color:white;
    background-color: darkgoldenrod;
    width: 120px;
    text-align: center;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.footer{
    position: absolute;
    top: 40rem;
}

.boton_interaccion {
width: fit-content;
height: fit-content;
color: #c59a3e;
padding: 4px;
background-color: #242323;
font-weight: 100;
margin: 2px;
}

