body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242323;
    gap: 1%;
}

.oceania {
    background-color: transparent;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}
.sudamerica { 
    background-color: transparent;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}
.asia { 
    background-color: transparent; 
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}
.europa { 
    background-color: transparent; 
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}
.africa {
    background-color: transparent;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}
.norteamerica {
    background-color: transparent;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}


.map-container {
display: flex;
justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #1e1e1e; 
}

.mapa {
  width: 100%;       
  height: auto;     
  display: block;
  margin: 0 auto;   
  object-fit: contain;
  visibility: visible;
}

.australia {
    position: absolute;
    top: 69.4%;
    right: 0.4%;
    width: auto;
}

.sumatra {
    position: absolute;
    top: 64.4%;
    right: 12.6%;
    width: auto;
}

.borneo {
    position: absolute;
    top: 54.5%;
    right: 6%;
    width: auto;
}

.java {
    position: absolute;
    top: 54%;
    right: 1.8%;
    width: auto;
}

.chile {
    position: absolute;
    top: 73%;
    right: 67.3%;
    width: auto;
}

.peru {
    position: absolute;
    top: 63.5%;
    right: 64.1%;
    width: auto;
    z-index: 1;
}

.argentina {
    position: absolute;
    top: 72.8%;
    right: 62.6%;
    width: auto;
}

.uruguay {
    position: absolute;
    top: 72.6%;
    right: 57.9%;
    width: auto;
    z-index: 1;
}

.brasil {
    position: absolute;
    top: 55.5%;
    right: 53.7%;
    width: auto;
}

.colombia {
    position: absolute;
    top: 53.7%;
    right: 64.1%;
    width: auto;
}

.india {
    position: absolute;
    top: 44.8%;
    right: 8.8%;
    width: auto;
}

.malasia {
    position: absolute;
    top: 39%;
    right: 2.6%;
    width: auto;
}

.china {
    position: absolute;
    top: 14.3%;
    right: 2.3%;
    width: auto;
}

.iran {
    position: absolute;
    top: 22.2%;
    right: 15.4%;
    width: auto;
}

.japon {
    position: absolute;
    top: 11.5%;
    right: 1.5%;
    width: auto;
}

.gobi {
    position: absolute;
    top: 31%;
    right: 13.5%;
    width: 5%;
    height: 10%;
    transform: rotate(-25deg);
}

.mongolia {
    position: absolute;
    top: 21%;
    right: 15.5%;
    width: 6%;
    height: 10%;
    transform: rotate(-15deg);
}

.kamchatka {
    position: absolute;
    top: 4%;
    right: 10.1%;
    width: auto;
    z-index: 1;
}

.turquia {
    position: absolute;
    top: 45%;
    right: 20%;
    width: 9%;
    height: 6%;
    transform: rotate(-20deg);
}

.israel {
    position: absolute;
    top: 52%;
    right: 21%;
    width: 6%;
    height: 7%;
    transform: rotate(-20deg);
}

.arabia {
    position: absolute;
    top: 56%;
    right: 18%;
    width: 5%;
    height: 7%;
    transform: rotate(-25deg);
}

.siberia {
    position: absolute;
    top: 7.2%;
    right: 13.8%;
    width: auto;
}

.taimir {
    position: absolute;
    top: 2.6%;
    right: 17%;
    width: auto;
}

.tartaria {
    position: absolute;
    top: 3%;
    right: 22%;
    width: 3%;
    height: 13%;
}

.aral {
    position: absolute;
    top: 9%;
    right: 25%;
    width: 3%;
    height: 12%;
    transform: rotate(-15deg);
}

.rusia {
    position: absolute;
    top: 8.5%;
    right: 22.1%;
    width: auto;
}

.suecia {
    position: absolute;
    top: 13%;
    right: 36%;
    width: 6%;
    height: 10%;
    transform: rotate(-15deg);
}

.polonia {
    position: absolute;
    top: 32.8%;
    right: 26.6%;
    width: auto;
}

.alemania {
    position: absolute;
    top: 34%;
    right: 30.8%;
    width: auto;
    z-index: 1;
}

.italia {
    position: absolute;
    top: 51%;
    right: 33%;
    width: 4%;
    height: 15%;
    transform: rotate(-10deg);
}

.francia {
    position: absolute;
    top: 39.1%;
    right: 37.3%;
    width: auto;
}

.espa単a{
    position: absolute;
    top: 52%;
    right: 44.5%;
    width: 6%;
    height: 11%;
    transform: rotate(-10deg);
}

.granbreta単a{
    position: absolute;
    top: 27.3%;
    right: 42%;
    width: 8%;
    height: 17%;
    transform: rotate(0deg);
}

.islandia{
    position: absolute;
    top: 27%;
    right: 54%;
    width: 4%;
    height: 13%;
}

.sahara {
    position: absolute;
    top: 66.8%;
    right: 32.7%;
    width: auto;
}

.egipto {
    position: absolute;
    top: 65.3%;
    right: 20.6%;
    width: auto;
}

.etiopia {
    position: absolute;
    top: 72.6%;
    right: 23.8%;
    width: auto;
}

.zaire {
    position: absolute;
    top: 77.6%;
    right: 29.3%;
    width: auto;
}

.sudafrica {
    position: absolute;
    top: 82.9%;
    right: 25%;
    width: auto;
    z-index: 1;
}

.madagascar {
    position: absolute;
    top: 77%;
    right: 17.3%;
    width: auto;
}

.mexico {
    position: absolute;
    top: 43.3%;
    right: 71.8%;
    width: auto;
}

.california{
    position: absolute;
    top: 41%;
    right: 77%;
    width: 13%;
    height: 7%;
    transform: rotate(-20deg);
}

.oregon{
    position: absolute;
    top: 30.5%;
    right: 81.8%;
    width: auto;
    transform: rotate(-1deg);
}

.nuevayork{
    position: absolute;
    top: 32%;
    right: 72%;
    width: 12%;
    height: 6%;
    transform: rotate(20deg);
}

.terranova{
    position: absolute;
    top: 26%;
    right: 71%;
    width: 10%;
    height: 6%;
    transform: rotate(20deg);
}

.labrador{
    position: absolute;
    top: 17%;
    right: 71%;
    width: 5%;
    height: 9%;
}

.groenlandia{
    position: absolute;
    top: 0.5%;
    right: 60.1%;
    width: auto;
}

.canada {
    position: absolute;
    top: 3%;
    right: 80%;
    width: 7%;
    height: 25%;
    transform: rotate(15deg);
}

.yukon{
    position: absolute;
    top: 16%;
    right: 87.5%;
    width: 6.5%;
    height: 17%;
    transform: rotate(-15deg);
}

.alaska {
    position: absolute;
    top: 27%;
    right: 94%;
    width: 4%;
    height: 14%;
}

.boton_atras {    
    cursor: pointer;
    text-decoration: none;
}

.guardar {
    cursor: pointer;
}
.guardar:hover {
    transform: scale(1.1);
}

.currentturn {
    position: absolute;
    color: white;
    background-color: darkgoldenrod;
    width: 140px;
    height: 30px;
    font-weight: bold;
    font-size: 112%;
    text-align: center;
    top: 2%;
}

.currentphase {
    position: absolute;
    color: white;
    background-color: darkgoldenrod;
    width: 140px;
    height: 42px;
     font-weight: bold;
     font-size: 112%;
    text-align: center;
    top: 6%;
}

.instrucciones {
    position: absolute;
    color: white;
    background-color: darkgoldenrod;
    width: 190px;
    height: fit-content;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
    top: 13.5%;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
    outline: none;
}

.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    height: 5%;
    justify-content: space-evenly;
    margin: -3%;
}

.sector{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border: #f7f3e9;
    height: fit-content;
    width: fit-content;
    border-width: 10px;
    margin: 1%;
}

.boton_interaccion {
    width:max-content;
    height: auto;
    color: #c59a3e;
    padding: 4px;
    background-color: #242323;
    font-weight: 100;
    margin: 2px;
}

.pausa {
position: absolute;
left: 2.5%;
top: 2.5%;
}

.pausa:hover {
transform: scale(1.1);
}

.reanudar {
    cursor: pointer;
}

.actRapidaIns {
    cursor: pointer;
}

.actRapidaIns:hover {
    transform: scale(1.1);
}

.menuPausa {
    justify-self: center;
    margin-top: 17%;
    width: 200px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    background-color: #c59a3e;
}

.menuConfig {
    justify-self: center;
    margin-top: 17%;
    width: 20%;
    height: 20%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    background-color: #c59a3e;
}

.atrasConfig {
    justify-self:flex-start;
    cursor: pointer;
}

.atrasConfig:hover {
    transform: scale(1.1);
}

.reanudar:hover {
    transform: scale(1.1);
}

.configuracion {
    cursor: pointer;
}

.configuracion:hover {
    transform: scale(1.1);
}

.salir {
    cursor: pointer;
}
.salir:hover {
    transform: scale(1.1);
}

.labelBrillo {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-style:inherit;
}

.barraBrillo {
    width: 60%;
    cursor: pointer;
    text-transform: uppercase;
}

.bordeAmarillo {
  border: 3px solid black;
}

.tarjeta {
  background-color: burlywood;
  width: 80px;
  height: 110px;
}

.dialogtarjetas{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialogdados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.containertarjetas{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.containerdados{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.containeratacante{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.containerdefensor{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rojo{background-color: red;}
.azul{background-color: blue;}
.amarillo{background-color: yellow;}
.verde{background-color: green;}
.magenta{background-color: magenta;}
.negro{background-color: black;}

.ficha{
    display: flex;
    position: absolute;
    top: 45%;
    right: 45%;
    width: 2%;
    height: 4.35%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    border: 1px solid white;
    z-index: 3;
}

.faustralia {
    position: absolute;
    top: 82%;
    right: 4.5%;
}

.fsumatra {
    position: absolute;
    top: 67%;
    right: 14.5%;
    height: 3.2%;
    width: 1.5%;
}

.fborneo {
    position: absolute;
    top: 60%;
    right: 7.5%;
    height: 3.2%;
    width: 1.5%;
}

.fjava {
    position: absolute;
    top: 59%;
    right: 3%;
    height: 3.2%;
    width: 1.5%;
}


.fchile {
    position: absolute;
    top: 78%;
    right: 68%;
    height: 3.2%;
    width: 1.5%;
}

.fperu {
    position: absolute;
    top: 67%;
    right: 67.5%;
    height: 3.9%;
    width: 1.8%;
}

.fargentina {
    position: absolute;
    top: 82%;
    right: 64%;
    height: 3.9%;
    width: 1.8%
}

.furuguay {
    position: absolute;
    top: 75%;
    right: 60%;
}

.fbrasil {
    position: absolute;
    top: 67%;
    right: 59%;
}

.fcolombia {
    position: absolute;
    top: 57%;
    right: 67%;
}

.findia {
    position: absolute;
    top: 47.5%;
    right: 11%;
}

.fmalasia {
    position: absolute;
    top: 47%;
    right: 4.5%;
}

.fchina {
    position: absolute;
    top: 27%;
    right: 10%;
}

.firan {
    position: absolute;
    top: 26%;
    right: 22.5%;
}

.fjapon {
    position: absolute;
    top: 16%;
    right: 4%;
    height: 3.2%;
    width: 1.5%;
}

.fgobi {
    position: absolute;
    top: 33%;
    right: 15%;
}

.fmongolia {
    position: absolute;
    top: 23%;
    right: 18%;
}

.fkamchatka {
    position: absolute;
    top: 7.5%;
    right: 12.5%;
}

.fturquia {
    position: absolute;
    top: 44%;
    right: 22%;
}

.fisrael {
    position: absolute;
    top: 53%;
    right: 23%;
}

.farabia {
    position: absolute;
    top: 57%;
    right: 19%;
}

.fsiberia {
    position: absolute;
    top: 15%;
    right: 18%;
}

.ftaimir {
    position: absolute;
    top: 8%;
    right: 19%;
}

.ftartaria {
    position: absolute;
    top: 6%;
    right: 22.5%;
}

.faral {
    position: absolute;
    top: 13%;
    right: 25%;
}

.frusia {
    position: absolute;
    top: 20%;
    right: 30.5%;
}

.fsuecia {
    position: absolute;
    top: 16%;
    right: 38%;
}

.fpolonia {
    position: absolute;
    top: 42.5%;
    right: 28.5%;
}

.falemania {
    position: absolute;
    top: 38%;
    right: 34%;
}

.fitalia {
    position: absolute;
    top: 55%;
    right: 34.5%;
}

.ffrancia {
    position: absolute;
    top: 43%;
    right: 40%;
}

.fespa単a{
    position: absolute;
    top: 56%;
    right: 46.5%;
}

.fgranbreta単a{
    position: absolute;
    top: 36%;
    right: 44.5%;
}

.fislandia{
    position: absolute;
    top: 32%;
    right: 55%;
}

.fsahara {
    position: absolute;
    top: 77%;
    right: 38%;
}

.fegipto {
    position: absolute;
    top: 69%;
    right: 26%;
}

.fetiopia {
    position: absolute;
    top: 76%;
    right: 28%;
}

.fzaire {
    position: absolute;
    top: 81%;
    right: 33%;
}

.fsudafrica {
    position: absolute;
    top: 85%;
    right: 27.5%;
}

.fmadagascar {
    position: absolute;
    top: 83%;
    right: 19.5%;
}

.fmexico {
    position: absolute;
    top: 48%;
    right: 75.5%;
}

.fcalifornia{
    position: absolute;
    top: 40.5%;
    right: 82%;
}

.foregon{
    position: absolute;
    top: 34%;
    right: 85%;
}

.fnuevayork{
    position: absolute;
    top: 32%;
    right: 79%;
}

.fterranova{
    position: absolute;
    top: 26%;
    right: 76%;
}

.flabrador{
    position: absolute;
    top: 20%;
    right: 72%;
}

.fgroenlandia{
    position: absolute;
    top: 4%;
    right: 65.5%;
}

.fcanada {
    position: absolute;
    top: 13%;
    right: 83%;
}

.fyukon{
    position: absolute;
    top: 24%;
    right: 89%;
}

.falaska {
    position: absolute;
    top: 32.5%;
    right: 94.5%;
}

.puentemad-zai{
    position: absolute;
    top: 87%;
    right: 22.2%;
    width: auto;
    height: 12.5%;
    z-index: 0;
}

.puenteaus-sum{
    position: absolute;
    top: 72%;
    right: 9.6%;
    width: auto;
    height: 4.5%;
    z-index: 0;
}