body {
    position: relative;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background-color: #242323;
    height: 500px;
 }

.oceania{
    background-color: darkcyan;
}

.australia {
    width: 100px;
    height: 80px;
}

.sumatra{
    width: 50px;
    height: 70px;
}

.borneo{
    width: 50px;
    height: 70px;
}

.java{
    width: 30px;
    height: 40px;
}

.sudamerica{
    background-color: darkolivegreen;
}

.chile{
    width: 30px;
    height: 100px;
}

.peru{
    width: 50px;
    height: 50px;
}

.argentina{
    width: 60px;
    height: 90px;
}

.uruguay{
    width: 35px;
    height: 35px;
}

.brasil{
    width: 80px;
    height: 65px;
}

.colombia{
    width: 60px;
    height: 45px;
}

.asia{
    background-color: yellowgreen;
}

.india{
    width: 40px;
    height: 50px;
}

.malasia{
    width: 40px;
    height: 50px;
}

.china{
    width: 60px;
    height: 80px;
}

.iran{
    width: 30px;
    height: 80px;
}

.boton_atras {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem; 
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.currentturn{
    color:white;
    background-color: darkgoldenrod;
    width: 100px;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}
