body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #242323;
    gap: 1%;
}

.oceania { background-color: darkcyan; }
.sudamerica { background-color: seagreen; }
.asia { background-color: darkslategray; }
.europa { background-color: orchid; }
.africa { background-color: sienna; }
.norteamerica { background-color: orangered; }


.map-container {
display: flex;
justify-content: center;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #1e1e1e; 
}

.mapa {
  width: 100%;       
  height: auto;     
  display: block;
  margin: 0 auto;   
  object-fit: contain;
  visibility: visible;
}

.australia {
    position: absolute;
    top: 72%;
    right: 2%;
    width: 7%;
    height: 14%;
}

.sumatra {
    position: absolute;
    top: 63%;
    right: 14%;
    width: 3%;
    height: 12%;
    transform: rotate(-30deg);
}

.borneo {
    position: absolute;
    top: 55%;
    right: 7%;
    width: 3%;
    height: 12%;
    transform: rotate(-15deg);
}

.java {
    position: absolute;
    top: 54%;
    right: 2%;
    width: 3%;
    height: 12%;
}


.chile {
    position: absolute;
    top: 74%;
    right: 68%;
    width: 2%;
    height: 18%;
}

.peru {
    position: absolute;
    top: 65%;
    right: 65%;
    width: 6%;
    height: 8%;
}

.argentina {
    position: absolute;
    top: 74%;
    right: 64%;
    width: 4%;
    height: 18%;
    transform: rotate(10deg);
}

.uruguay {
    position: absolute;
    top: 74%;
    right: 57.5%;
    width: 6%;
    height: 6%;
    transform: rotate(-15deg);
}

.brasil {
    position: absolute;
    top: 60%;
    right: 55.5%;
    width: 9%;
    height: 13%;
}

.colombia {
    position: absolute;
    top: 57%;
    right: 65%;
    width: 7%;
    height: 7%;
}

.india {
    position: absolute;
    top: 48%;
    right: 11%;
    width: 3%;
    height: 14%;
    transform: rotate(15deg);
}

.malasia {
    position: absolute;
    top: 43%;
    right: 3%;
    width: 5%;
    height: 8%;
    transform: rotate(-15deg);
}

.china {
    position: absolute;
    top: 15%;
    right: 8%;
    width: 6%;
    height: 30%;
    transform: rotate(-15deg);
}

.iran {
    position: absolute;
    top: 22%;
    right: 20%;
    width: 2%;
    height: 30%;
    transform: rotate(-35deg);
}

.japon {
    position: absolute;
    top: 14%;
    right: 2%;
    width: 7%;
    height: 6%;
    transform: rotate(40deg);
}

.gobi {
    position: absolute;
    top: 31%;
    right: 13.5%;
    width: 5%;
    height: 10%;
    transform: rotate(-25deg);
}

.mongolia {
    position: absolute;
    top: 21%;
    right: 15.5%;
    width: 6%;
    height: 10%;
    transform: rotate(-15deg);
}

.kamchatka {
    position: absolute;
    top: 6%;
    right: 11%;
    width: 5%;
    height: 8%;
    transform: rotate(-20deg);
}

.turquia {
    position: absolute;
    top: 45%;
    right: 20%;
    width: 9%;
    height: 6%;
    transform: rotate(-20deg);
}

.israel {
    position: absolute;
    top: 52%;
    right: 21%;
    width: 6%;
    height: 7%;
    transform: rotate(-20deg);
}

.arabia {
    position: absolute;
    top: 56%;
    right: 18%;
    width: 5%;
    height: 7%;
    transform: rotate(-25deg);
}

.siberia {
    position: absolute;
    top: 15%;
    right: 16%;
    width: 8%;
    height: 6%;
    transform: rotate(-10deg);
}

.taimir {
    position: absolute;
    top: 5%;
    right: 17.5%;
    width: 4%;
    height: 9%;
    transform: rotate(15deg);
}

.tartaria {
    position: absolute;
    top: 3%;
    right: 22%;
    width: 3%;
    height: 13%;
}

.aral {
    position: absolute;
    top: 9%;
    right: 25%;
    width: 3%;
    height: 12%;
    transform: rotate(-15deg);
}

.rusia {
    position: absolute;
    top: 9%;
    right: 26%;
    width: 5%;
    height: 36%;
    transform: rotate(-30deg);
}

.suecia {
    position: absolute;
    top: 13%;
    right: 36%;
    width: 6%;
    height: 10%;
    transform: rotate(-15deg);
}

.polonia {
    position: absolute;
    top: 37%;
    right: 28%;
    width: 4.5%;
    height: 12%;
    transform: rotate(-20deg);
}

.alemania {
    position: absolute;
    top: 38%;
    right: 33%;
    width: 4.5%;
    height: 13%;
    transform: rotate(-10deg);
}

.italia {
    position: absolute;
    top: 51%;
    right: 33%;
    width: 4%;
    height: 15%;
    transform: rotate(-10deg);
}

.francia {
    position: absolute;
    top: 44.5%;
    right: 37.5%;
    width: 7.5%;
    height: 9%;
    transform: rotate(-30deg);
}

.espa単a{
    position: absolute;
    top: 52%;
    right: 44.5%;
    width: 6%;
    height: 11%;
    transform: rotate(-10deg);
}

.granbreta単a{
    position: absolute;
    top: 30%;
    right: 43%;
    width: 4%;
    height: 14%;
    transform: rotate(25deg);
}

.islandia{
    position: absolute;
    top: 27%;
    right: 54%;
    width: 4%;
    height: 13%;
}

.sahara {
    position: absolute;
    top: 69%;
    right: 35%;
    width: 8%;
    height: 13%;
}

.egipto {
    position: absolute;
    top: 69%;
    right: 22%;
    width: 9%;
    height: 7%;
    transform: rotate(20deg);
}

.etiopia {
    position: absolute;
    top: 75%;
    right: 24%;
    width: 11%;
    height: 7%;
    transform: rotate(15deg);
}

.zaire {
    position: absolute;
    top: 80%;
    right: 30%;
    width: 7.5%;
    height: 8%;
    transform: rotate(15deg);
}

.sudafrica {
    position: absolute;
    top: 86%;
    right: 26.5%;
    width: 5%;
    height: 9%;
}

.madagascar {
    position: absolute;
    top: 79%;
    right: 19%;
    width: 3%;
    height: 14%;
    transform: rotate(15deg);
}

.mexico {
    position: absolute;
    top: 48%;
    right: 72%;
    width: 9%;
    height: 7%;
    transform: rotate(30deg);
}

.california{
    position: absolute;
    top: 41%;
    right: 77%;
    width: 13%;
    height: 7%;
    transform: rotate(-20deg);
}

.oregon{
    position: absolute;
    top: 36%;
    right: 83%;
    width: 13%;
    height: 9%;
    transform: rotate(-30deg);
}

.nuevayork{
    position: absolute;
    top: 32%;
    right: 72%;
    width: 12%;
    height: 6%;
    transform: rotate(20deg);
}

.terranova{
    position: absolute;
    top: 26%;
    right: 71%;
    width: 10%;
    height: 6%;
    transform: rotate(20deg);
}

.labrador{
    position: absolute;
    top: 17%;
    right: 71%;
    width: 5%;
    height: 9%;
}

.groenlandia{
    position: absolute;
    top: 4%;
    right: 62%;
    width: 6%;
    height: 23%;
}

.canada {
    position: absolute;
    top: 3%;
    right: 80%;
    width: 7%;
    height: 25%;
    transform: rotate(15deg);
}

.yukon{
    position: absolute;
    top: 16%;
    right: 87.5%;
    width: 6.5%;
    height: 17%;
    transform: rotate(-15deg);
}

.alaska {
    position: absolute;
    top: 27%;
    right: 94%;
    width: 4%;
    height: 14%;
}

.boton_atras {    
    cursor: pointer;
    text-decoration: none;
}

.guardar {
    cursor: pointer;
}
.guardar:hover {
    transform: scale(1.1);
}

.currentturn {
    position: absolute;
    color: white;
    background-color: darkgoldenrod;
    width: 140px;
    height: 30px;
    font-weight: bold;
    font-size: 112%;
    text-align: center;
    top: 2%;
}

.currentphase {
    position: absolute;
    color: white;
    background-color: darkgoldenrod;
    width: 140px;
    height: 42px;
     font-weight: bold;
     font-size: 112%;
    text-align: center;
    top: 6%;
}

.instrucciones {
    position: absolute;
    color: white;
    background-color: darkgoldenrod;
    width: 190px;
    height: fit-content;
    font-weight: bold;
    font-size: 75%;
    text-align: center;
    top: 13.5%;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
    outline: none;
}

.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    height: 5%;
    justify-content: space-evenly;
    margin: -3%;
}

.sector{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border: #f7f3e9;
    height: fit-content;
    width: fit-content;
    border-width: 10px;
    margin: 1%;
}

.boton_interaccion {
    width:max-content;
    height: auto;
    color: #c59a3e;
    padding: 4px;
    background-color: #242323;
    font-weight: 100;
    margin: 2px;
}

.pausa {
position: absolute;
left: 2.5%;
top: 2.5%;
}

.reanudar {
    cursor: pointer;
}

.actRapidaIns {
    cursor: pointer;
}

.actRapidaIns:hover {
    transform: scale(1.1);
}

.menuPausa {
    justify-self: center;
    margin-top: 17%;
    width: 200px;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    background-color: #c59a3e;
}

.menuConfig {
    justify-self: center;
    margin-top: 17%;
    width: 20%;
    height: 20%;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-style:inherit;
    background-color: #c59a3e;
}

.atrasConfig {
    justify-self:flex-start;
    cursor: pointer;
}

.atrasConfig:hover {
    transform: scale(1.1);
}

.reanudar:hover {
    transform: scale(1.1);
}

.configuracion {
    cursor: pointer;
}

.configuracion:hover {
    transform: scale(1.1);
}

.salir {
    cursor: pointer;
}
.salir:hover {
    transform: scale(1.1);
}

.labelBrillo {
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-style:inherit;
}

.barraBrillo {
    width: 60%;
    cursor: pointer;
    text-transform: uppercase;
}

.bordeAmarillo {
  border: 3px solid yellow;
}

.rojo{background-color: red;}
.azul{background-color: blue;}
.amarillo{background-color: yellow;}
.verde{background-color: green;}
.magenta{background-color: magenta;}
.negro{background-color: black;}



.ficharusia {
    position: absolute;
    top: 9%;
    right: 26%;
    width: 3%;
    height: 3%;
    transform: rotate(-30deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaalemania {
    position: absolute;
    top: 38%;
    right: 33%;
    width: 3%;
    height: 3%;
    transform: rotate(-10deg);
    border-radius: 100%;
    z-index: 10;
}

.fichasuecia {
    position: absolute;
    top: 13%;
    right: 36%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichapolonia {
    position: absolute;
    top: 37%;
    right: 28%;
    width: 3%;
    height: 3%;
    transform: rotate(-20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaitalia {
    position: absolute;
    top: 51%;
    right: 33%;
    width: 3%;
    height: 3%;
    transform: rotate(-10deg);
    border-radius: 100%;
    z-index: 10;
}

.fichafrancia {
    position: absolute;
    top: 44.5%;
    right: 37.5%;
    width: 3%;
    height: 3%;
    transform: rotate(-30deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaespa単a{
    position: absolute;
    top: 52%;
    right: 44.5%;
    width: 3%;
    height: 3%;
    transform: rotate(-10deg);
    border-radius: 100%;
    z-index: 10;
}

.fichagranbreta単a{
    position: absolute;
    top: 30%;
    right: 43%;
    width: 3%;
    height: 3%;
    transform: rotate(25deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaislandia{
    position: absolute;
    top: 27%;
    right: 54%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichaalaska {
    position: absolute;
    top: 27%;
    right: 94%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichacanada {
    position: absolute;
    top: 3%;
    right: 80%;
    width: 3%;
    height: 3%;
    transform: rotate(15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichayukon{
    position: absolute;
    top: 16%;
    right: 87.5%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaoregon{
    position: absolute;
    top: 36%;
    right: 83%;
    width: 3%;
    height: 3%;
    transform: rotate(-30deg);
    border-radius: 100%;
    z-index: 10;
}

.fichanuevayork{
    position: absolute;
    top: 32%;
    right: 72%;
    width: 3%;
    height: 3%;
    transform: rotate(20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaterranova{
    position: absolute;
    top: 26%;
    right: 71%;
    width: 3%;
    height: 3%;
    transform: rotate(20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichalabrador{
    position: absolute;
    top: 17%;
    right: 71%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichagroenlandia{
    position: absolute;
    top: 4%;
    right: 62%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichacalifornia{
    position: absolute;
    top: 41%;
    right: 77%;
    width: 3%;
    height: 3%;
    transform: rotate(-20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichamexico {
    position: absolute;
    top: 48%;
    right: 72%;
    width: 3%;
    height: 3%;
    transform: rotate(30deg);
    border-radius: 100%;
    z-index: 10;
}

.fichachile {
    position: absolute;
    top: 74%;
    right: 68%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichaperu {
    position: absolute;
    top: 65%;
    right: 65%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichaargentina {
    position: absolute;
    top: 74%;
    right: 64%;
    width: 3%;
    height: 3%;
    transform: rotate(10deg);
    border-radius: 100%;
    z-index: 10;
}

.fichauruguay {
    position: absolute;
    top: 74%;
    right: 57.5%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichabrasil {
    position: absolute;
    top: 60%;
    right: 55.5%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichacolombia {
    position: absolute;
    top: 57%;
    right: 65%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichasahara {
    position: absolute;
    top: 69%;
    right: 35%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichaegipto {
    position: absolute;
    top: 69%;
    right: 22%;
    width: 3%;
    height: 3%;
    transform: rotate(20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaetiopia {
    position: absolute;
    top: 75%;
    right: 24%;
    width: 3%;
    height: 3%;
    transform: rotate(15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichazaire {
    position: absolute;
    top: 80%;
    right: 30%;
    width: 3%;
    height: 3%;
    transform: rotate(15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichasudafrica {
    position: absolute;
    top: 86%;
    right: 26.5%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichamadagascar {
    position: absolute;
    top: 79%;
    right: 19%;
    width: 3%;
    height: 3%;
    transform: rotate(15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichairan {
    position: absolute;
    top: 22%;
    right: 20%;
    width: 3%;
    height: 3%;
    transform: rotate(-35deg);
    border-radius: 100%;
    z-index: 10;
}

.fichajapon {
    position: absolute;
    top: 14%;
    right: 2%;
    width: 3%;
    height: 3%;
    transform: rotate(40deg);
    border-radius: 100%;
    z-index: 10;
}

.fichagobi {
    position: absolute;
    top: 31%;
    right: 13.5%;
    width: 3%;
    height: 3%;
    transform: rotate(-25deg);
    border-radius: 100%;
    z-index: 10;
}

.fichamongolia {
    position: absolute;
    top: 21%;
    right: 15.5%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichakamchatka {
    position: absolute;
    top: 6%;
    right: 11%;
    width: 3%;
    height: 3%;
    transform: rotate(-20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaturquia {
    position: absolute;
    top: 45%;
    right: 20%;
    width: 3%;
    height: 3%;
    transform: rotate(-20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaisrael {
    position: absolute;
    top: 52%;
    right: 21%;
    width: 3%;
    height: 3%;
    transform: rotate(-20deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaarabia {
    position: absolute;
    top: 56%;
    right: 18%;
    width: 3%;
    height: 3%;
    transform: rotate(-25deg);
    border-radius: 100%;
    z-index: 10;
}

.fichasiberia {
    position: absolute;
    top: 15%;
    right: 16%;
    width: 3%;
    height: 3%;
    transform: rotate(-10deg);
    border-radius: 100%;
    z-index: 10;
}

.fichataimir {
    position: absolute;
    top: 5%;
    right: 17.5%;
    width: 3%;
    height: 3%;
    transform: rotate(15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichatartaria {
    position: absolute;
    top: 3%;
    right: 22%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichaaral {
    position: absolute;
    top: 9%;
    right: 25%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichachina {
    position: absolute;
    top: 15%;
    right: 8%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichamalasia {
    position: absolute;
    top: 43%;
    right: 3%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaindia {
    position: absolute;
    top: 48%;
    right: 11%;
    width: 3%;
    height: 3%;
    transform: rotate(15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichasumatra {
    position: absolute;
    top: 63%;
    right: 14%;
    width: 3%;
    height: 3%;
    transform: rotate(-30deg);
    border-radius: 100%;
    z-index: 10;
}

.fichajava {
    position: absolute;
    top: 54%;
    right: 2%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}

.fichaborneo {
    position: absolute;
    top: 55%;
    right: 7%;
    width: 3%;
    height: 3%;
    transform: rotate(-15deg);
    border-radius: 100%;
    z-index: 10;
}

.fichaaustralia {
    position: absolute;
    top: 72%;
    right: 2%;
    width: 3%;
    height: 3%;
    border-radius: 100%;
    z-index: 10;
}