.cuadro {
    width: 100px;
    height: 100px;
    background-color: rgb(170, 170, 77);
    text-align: center;
    background-image: url(https://c0.klipartz.com/pngpicture/306/465/gratis-png-pergamino-de-papel-pergaminos.png);
}

.jugar {
    align-items: center;
}

.reglamento { 
    align-items: center;
}
