.caja_botones {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%
}

.botones_inicio {
    text-align: center;
    width: 140px;
    height: fit-content;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: black; 
    background-color: #c59a3e; 
    border: 3px solid #000000; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
}

.botones_inicio_b {
    text-align: center;
    width: 120px;
    height: fit-content;
    font-optical-sizing: auto;
    text-transform: uppercase;
    color: black; 
    background-color: #c59a3e; 
    border: 3px solid #000000; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    display: inline-block;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    font-size: 75%
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
}

.botones_inicio:hover {
    background-color: #f7f3e9; 
    border: 3px solid #c59a3e;
    transform: scale(1.2);
    color: #c59a3e;
}

.botones_inicio_b:hover {
    background-color: #f7f3e9; 
    border: 3px solid #c59a3e;
    transform: scale(1.2);
    color: #c59a3e;
}

.boton_atras {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem; 
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#363636;
    height: 90vh; 
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    position: absolute;
    bottom: 5%;
}