body {
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #363636;
   height: 80vh;
   padding: auto;
}

.cantJugadores{
  background-color: rgb(214, 218, 195);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size:135%;
  color: #866834;
  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #866834;
}

.objSecretos {
  background-color: rgb(214, 218, 195);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size: 135%;
  color: #866834;
  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #866834;
}

.instructor {
  background-color: rgb(214, 218, 195);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size: 135%;
  color: #866834;
  font-family: "Tiro Bangla", serif;
  font-weight: 600;
  font-style: normal;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #866834;
}

.botonSiguiente {
 background-color: rgb(214, 218, 195);
 width: 15%;
 height: 10%;
 text-align: center;
 font-size: 135%;
 color:#866834;
 font-family: "Tiro Bangla", serif;
 font-weight: 600;
 font-style: normal;
 border-radius: 10px;
 border-width: 3px;
 border-style: solid;
 border-color: #866834;
}

.boton_atras {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem; 
    z-index: 100;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
    font-family: "Tiro Bangla", serif;
    font-weight: 600;
    font-style: normal;
}

.boton_atras:hover {
    background-color: #f7f3e9; 
    color: #c59a3e; 
    border: 3px solid #c59a3e;
    transform: scale(1.2);
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
    }

.advertencia {
text-align: center;
font-weight: bold;
padding: 10px;
background-color: #9b9386;
color: rgb(200, 201, 185);
font-family:'Times New Roman', Times, serif;
font-style:inherit ;
}

.logoMini {
  position: absolute;
  top: 85%; 
  right: 92%; 
  height: 68px; 
  width: 70px; 
}