body {
    position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #694b16;
   height: 550px;
}

.cantJugadores{
  background-color: rgb(73, 62, 62);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size:100%;
  color: #866834;
}

.objSecretos {
  background-color: rgb(73, 62, 62);
  width: 25%;
  height: 12%;
  text-align: center;
  font-size: 100%;
  color: #866834;
}

.botonSiguiente {
 width: 15%;
 height: 10%;
 color:#866834
}

.boton_atras {
    position: absolute;
    top: 1.5rem; 
    left: 1.5rem; 
    z-index: 100;
    font-weight: 400;
    text-transform: uppercase;
    color: #f7f3e9; 
    background-color: #c59a3e; 
    border: 3px solid #ffffff; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    text-decoration: none;
}

a {
    color: black;
    font-style: normal;
    text-decoration: none;
    }
